@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.prose thead {
  background-color: gray;
  padding-left: 3px;
  border: 1px solid;
}
.prose th {
  color: white;

}
.prose table {
  min-width: 100%;
  border: 1px solid;
}